@model AGROMET.Models.CropAdvisoryModel
@using Resources
@{
    ViewBag.Title = Resource.Advisory;
    var StateID = "";
    var DistrictID = "";
    var BlockID = "";
    var TypeOfRole = "";
    var LanguageName = "";
    var Select = Resource.Select;
    if (Request.Cookies["StateID"] != null)
    {
        StateID = Request.Cookies["StateID"].Value;
    }
    if (Request.Cookies["DistrictID"] != null)
    {
        DistrictID = Request.Cookies["DistrictID"].Value;
    }
    if (Request.Cookies["BlockID"] != null)
    {
        BlockID = Request.Cookies["BlockID"].Value;
    }
    if (Request.Cookies["TypeOfRole"] != null)
    {
        TypeOfRole = Request.Cookies["TypeOfRole"].Value.ToString();
    }
    if (Request.Cookies["LanguageName"] != null)
    {
        LanguageName = Request.Cookies["LanguageName"].Value.ToString();
    }
}
<style>
    #cropadvisory a {
        color: black;
        background-color: #a4d89a;
    }
</style>

<div ng-app="viewCropAdvisory">
    <div ng-controller="ViewCropAdvisoryController">
        <div class="ng-cloak">
            <div class="row">
                @*<div class="col-xs-pull-0 col-sm-2 col-md-2">

            <label class="colorscheme">@Resource.Category</label>
            <select id="ddlCategory" class="ddlstate" ng-model="SelectedCategory" ng-init="GetCategory()" ng-options="y.CropAdvisoryCategory for (x,y) in Category"></select>
        </div>*@
                <div class="col-xs-pull-0 col-sm-2 col-md-2">
                    <label class="colorscheme">@Resource.District</label>
                    <select id="ddlDistrict" class="ddlstate" ng-model="SelectedDistrict" ng-init="GetDistrict(@StateID)" ng-options="y.DistrictName for (x,y) in District" ng-change="GetBlock(SelectedDistrict.DistrictID)"></select>
                </div>
                <div class="col-xs-pull-0 col-sm-2 col-md-2">
                    <label class="colorscheme">@Resource.Block</label>
                    <select id="ddlBlock" class="ddlstate" ng-model="SelectedBlock" ng-init="GetBlock(@DistrictID)" ng-options="y.BlockName for (x,y) in Block"></select>
                </div>
                <div class="col-xs-pull-0 col-sm-2 col-md-2">
                    <label class="colorscheme">@Resource.Crop</label>
                    <select id="ddlCrop" class="ddlstate" ng-model="SelectedCrop" ng-init="GetCrop()" ng-options="y.CropName for (x,y) in Crop"></select>
                </div>
                <div class="col-xs-pull-0 col-sm-2 col-md-2">
                    <label> &emsp;</label>
                    <br />
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="button" class="btn btn-default boxht colorbrdrscheme colorbackscheme widthfit btnhover" value="@Resource.Search" ng-click="SearchCAMList(SelectedDistrict.DistrictID,SelectedBlock.BlockID,SelectedCrop.CropID)" />
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="button" class="btn btn-default boxht colorbrdrscheme colorbackscheme widthfit btnhover" value="@Resource.Reset" ng-click="ResetSearchddl()" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-pull-0 col-sm-2 col-md-2">
        </div>
                <div class="col-xs-pull-0 col-sm-2 col-md-2">
                    <label> &emsp;</label>
                    @*<label class="colorscheme">@Resource.TotalAdvisory </label>
            <label class="lblcount"> {{TotalAdvisory}}</label>&emsp;*@
                    <br />
                    @*<a href="@Url.Content("~/AGROMET/AddAdvisoryCategory/")"><input type="button" value="@Resource.AddAdvisory" id="adv" class="btn pull-right colorbackscheme btnadv btnhover btn-md " /></a>*@
                </div>
            </div>
            <br />
            <div class="row">
                    <div class="col-xs-push-0 col-sm-4 col-md-3" ng-init="GetCAMList()">
                        <div class="AdvisoryDetailspanel">
                            <div ng-show="AdvisoryDetails" class="colorscheme brdrbtmdtl lblfontsize mrgbtmimg">@Resource.AdvisoryList</div>
                            <div class="mrgbtm colorscheme advlist" ng-repeat="item in CAMList | filter:Search">
                                <button class="text-left fillavailable paddingtextleft btnstl" ng-click="GetCAMById(item.CAMID);" ng-class="{selectlst: item.CAMID == color}">
                                    <div class="mrgbtmadvisory txtadjust">
                                        {{item.Title}}
                                    </div>
                                    <div class="row mrgbtmadvisory mrginitial">
                                        <div class="col-xs-6 col-sm-6 col-md-7 paddingrightfix paddingtxtleft colorgrayscheme">
                                            <span>
                                                {{item.State}}
                                            </span>
                                            <img src="~/Content/images/Geo_New.png" class="advisoryicon pull-left" />
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-5 colorgrayscheme paddingfix">
                                            <span class="paddingtxtleft">
                                                {{item.CreatedDate}}
                                            </span>
                                            <img src="~/Content/images/list_calendar.png" class="advisoryicon pull-left" />
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                        <br />
                        <br />
                    </div>
                    <div class="col-xs-push-0 col-sm-8 col-md-9 paddingleftfix">
                        <div ng-show="AdvisoryDetails" class="panel panel-default paddingtitleadvspace AdvisoryDetailspanel">
                            <br />
                            <div class="row">
                                <div class="col-xs-7 col-sm-8 col-md-9">
                                    <div class="colorscheme brdrbtmdtl lblfontsize mrgbtm">@Resource.Title</div>
                                    <div class="mrgleft">{{CAMByIdDetails.Title}}</div>
                                </div>
                                <div class="col-xs-5 col-sm-4 col-md-3">
                                    <table class="pull-right">
                                        <tr>
                                            <td>
                                                <img src="~/Content/images/list_calendar.png" class="advisoryicon pull-left mrgbtm" />
                                                <br /><br />
                                            </td>
                                            <td>
                                                <span class="paddingtxtleft">{{CAMByIdDetails.PeriodStartDate}}</span>
                                                <br /><br />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="~/Content/images/list_calendar.png" class="advisoryicon pull-left" />
                                            </td>
                                            <td> <div class="paddingtxtleft">{{CAMByIdDetails.PeriodEndDate}}</div></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-2 col-sm-2 col-md-2 col-half-offset" ng-if="CAMByIdDetails.D1">
                                    <img src="/Content/images/checked-checkbox.png" class="imgchk mrgbtm" />
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-half-offset" ng-if="CAMByIdDetails.D2">
                                    <img src="/Content/images/checked-checkbox.png" class="imgchk mrgbtm" />
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-half-offset" ng-if="CAMByIdDetails.D3">
                                    <img src="/Content/images/checked-checkbox.png" class="imgchk mrgbtm" />
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-half-offset" ng-if="CAMByIdDetails.D4">
                                    <img src="/Content/images/checked-checkbox.png" class="imgchk mrgbtm" />
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-half-offset" ng-if="CAMByIdDetails.D5">
                                    <img src="/Content/images/checked-checkbox.png" class="imgchk mrgbtm" />
                                </div>
                            </div>
                            <div class="row" ng-hide="weathertag">
                                <div class="col-xs-6 col-sm-2 col-md-2 col-half-offset bottomboxadv paddingrightfix boxshado" ng-repeat="item in NextFour">
                                    <div class="weatherdetailtxtblk mrgtopbtm">{{item.ForeCastDate_Lang}}</div>
                                    <div class="col-xs-5 col-sm-5 col-md-4 paddingrightfix paddingleftfix">
                                        <img src="~/Content/images/few_clouds.png" alt="" class="imgweathersm mrgbtm" />
                                        <div class="weatherdetailtxtsm mrgbtmimg">
                                            <br />
                                            <img src="~/Content/images/temprature.png" alt="" class="tempicon" />
                                            {{current.TempMin}}
                                        </div>
                                        <div class="weatherdetailtxtsm">
                                            <img src="~/Content/images/temprature.png" alt="" class="tempicon" />
                                            {{current.TempMax}}
                                        </div>
                                    </div>
                                    <div class="col-xs-7 col-sm-7 col-md-8 weatherdetailtxtsm paddingleftfix paddingrightfix">
                                        <div class="mrgbtmimg">
                                            <img src="~/Content/images/rain.png" alt="" class="imgweatherdetailsm" />
                                            {{item.Rainfall}}
                                        </div>
                                        <div class="mrgbtmimg">
                                            <img src="~/Content/images/humadity.png" alt="" class="imgweatherdetailsm" />
                                            {{item.HumidityI}} / {{current.HumidityII}}
                                        </div>
                                        <div class="mrgbtmimg">
                                            <img src="~/Content/images/Wind_speed.png" alt="" class="imgweatherdetailsm" />
                                            {{item.WindSpeed}}
                                        </div>
                                        <div class="mrgbtmimg">
                                            <img src="~/Content/images/{{item.ImgDirection}}" alt="" class="imgweatherdetailsm" />
                                            {{item.WindDirection}}
                                        </div>
                                    </div>
                                    <div class="weatherdetailtxtsm mrgbtmadvisory weatherdetailtxtblk">
                                        &emsp; {{item.Cloud}}
                                    </div>
                                </div>
                                <br class="hidden-sm hidden-md hidden-lg" />
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-push-0 col-sm-8 col-md-9">
                                    <div class="colorscheme brdrbtmdtl mrgbtm lblfontsize">
                                        @Resource.WeatherCondition
                                    </div>
                                    <div class="mrgleft">
                                        <span>
                                            {{CAMByIdDetails.WeatherCondition}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-5 col-sm-4 col-md-3">
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-push-0 col-sm-8 col-md-9">
                                    <div class="colorscheme brdrbtmdtl mrgbtm lblfontsize">@Resource.Agronomy</div>
                                    <div class="mrgleft"><span class="contentwrap">{{CAMByIdDetails.AgroAdvisoryDetails}}</span></div>
                                </div>
                                <div class="col-xs-5 col-sm-4 col-md-3">
                                    <div class="panel-group" id="accordion">
                                        <div ng-hide="districttag" class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="uline">
                                                        @Resource.Districts <span class="pull-right"> <i class="arrow down"></i></span>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapse1" class="panel-collapse collapse">
                                                <ul class="list-group">
                                                    <li class="list-group-item" ng-repeat="Districtitem in DistrictMapping">
                                                        {{Districtitem.DistictName}}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div ng-hide="blocktag" class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="uline">
                                                        @Resource.Blocks <span class="pull-right"> <i class="arrow down"></i></span>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapse2" class="panel-collapse collapse">
                                                <ul class="list-group">
                                                    <li class="list-group-item" ng-repeat="Blockitem in BlockMapping">
                                                        {{Blockitem.BlockName}}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">
                                    <div class="pull-right">
                                        @*<a data-ng-href="@Url.Action("AddAdvisory", "AGROMET")?CAMID={{CAMByIdDetails.CAMID}}"><input type="button" value="@Resource.AddCrop" class="  btn btn-md colorbackscheme btnhover" /></a>*@
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-push-0 col-sm-4 col-md-4">
                                    <div class="AdvisoryDetailspanel">
                                        <div ng-show="CropDetails" class="colorscheme brdrbtmdtl lblfontsize mrgbtm">@Resource.CropList</div>
                                        <div class="mrgbtm colorscheme advlist" ng-repeat="item in CropAdvisory | filter:Search">
                                            <button class="text-left fillavailable paddingtextleft btnstl" ng-click="GetCropAdvisoryById(item.CropAdvisoryID);GetAttachmentMapping(item.CropAdvisoryID,ImageAttachent);GetAttachmentMapping(item.CropAdvisoryID,AudioAttachent)"  ng-class="{selectlst: item.CropAdvisoryID == cropcolor}">
                                                <div class="mrgbtmadvisory txtadjust">
                                                    {{item.CropName}}
                                                </div>
                                                <div class="row  mrgbtmadvisory mrginitial">
                                                    <div class="col-xs-11 col-sm-11 col-md-11  paddingrightfix paddingtxtleft colorgrayscheme">
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    <img src="~/Content/images/category.png" class="advisoryicon pull-left" />
                                                                </td>
                                                                <td>
                                                                    <div>
                                                                        {{item.Category}}
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div class="col-xs-1 col-sm-1 col-md-1 paddingrightfix paddingtxtleft colorgrayscheme">
                                                        @*<table>
                                                            <tr>
                                                                <td>
                                                                    <img src="~/Content/images/category.png" class="advisoryicon pull-left" />
                                                                </td>
                                                                <td>
                                                                    <div>
                                                                        {{item.Category}}
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>*@
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                </div>
                                <div class="col-xs-push-0 col-sm-8 col-md-8 paddingleftfix">
                                    <div ng-show="CropDetails" class="panel panel-default paddingtitlespace AdvisoryDetailspanel">
                                        <br />
                                        <div class="row">
                                            <div class="col-xs-7 col-sm-8 col-md-9">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <img src="~/Content/images/category.png" class="advisoryicon pull-left" />
                                                        </td>
                                                        <td> <div>&nbsp;{{CropAdvisoryDetails.Category}}</div></td>
                                                    </tr>
                                                </table>
                                                @*<div class="colorscheme brdrbtmdtl lblfontsize mrgbtm">@Resource.Title</div>
                <div class="mrgleft">{{CropAdvisoryDetails.Title}}</div>*@
                                            </div>
                                            <div class="col-xs-5 col-sm-4 col-md-3">
                                                <table class="pull-right">
                                                    <tr>
                                                        <td>
                                                            <img src="~/Content/images/list_calendar.png" class="advisoryicon pull-left mrgbtm" />
                                                            <br /><br />
                                                        </td>
                                                        <td>
                                                            <div>&nbsp;{{CropAdvisoryDetails.CreatedDate}}</div>
                                                            <br />
                                                        </td>
                                                    </tr>
                                                    @*<tr>
                        <td>
                            <img src="~/Content/images/category.png" class="advisoryicon pull-left" />
                        </td>
                        <td> <div>&nbsp;{{CropAdvisoryDetails.Category}}</div></td>
                    </tr>*@
                                                </table>
                                            </div>
                                        </div>
                                        <div class="colorscheme brdrbtmdtl mrgbtm lblfontsize">
                                            @Resource.SMSText
                                        </div>
                                        <div class="mrgleft">
                                            <span>
                                                {{CropAdvisoryDetails.BriefText}}
                                            </span>
                                        </div>

                                        <br />
                                        <div class="colorscheme brdrbtmdtl mrgbtm lblfontsize">@Resource.Recommendations</div>
                                        <div class="mrgleft"><span class="contentwrap">{{CropAdvisoryDetails.Recommendations}}</span></div>
                                        <div ng-hide="imagetag" class="row paddingtextleft">
                                            <br />
                                            <br />
                                            <div class="mrgbtm"><span class="colorscheme lblfontsize">@Resource.Images</span></div>
                                            <div ng-repeat="imageitem in Images" class="col-xs-2 col-sm-2 col-md-2">
                                                <button type="button" class="btn btn-default btn-link" @*data-toggle="modal" data-target="#ImageModal"*@ ng-click="ViewImage(imageitem.ImagePath)">
                                                    <image src="{{imageitem.ThumbNailImageName}}" type="image/jpg" alt="" class="thumbimg"></image>
                                                </button>
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="row">
                                            <div class="col-xs-pull-0 col-sm-pull-0 col-md-7">
                                                <div ng-hide="audiotag" class="mrgbtm">
                                                    <span class="colorscheme lblfontsize">@Resource.Audio</span>
                                                </div>
                                                <div ng-hide="audiotag" ng-repeat="Audioitem in Audio">
                                                    <audio src="{{Audioitem.ImagePath}}" typeof="audio/mp3"></audio>
                                                    <audio controls>
                                                        <source src="{{Audioitem.ImagePath}}" type="audio/ogg">
                                                        <source src="{{Audioitem.ImagePath}}" type="audio/mpeg">
                                                        <source src="{{Audioitem.ImagePath}}" type="audio/mp3">
                                                        @Resource.NotSupport
                                                    </audio>
                                                </div>
                                                <br />
                                            </div>
                                        </div>
                                        <br />
                                        <iframe height="350" ng-src="{{trustSrc(CropAdvisoryDetails.YouTubeLink)}}" class="fillavailable" frameborder="0"></iframe>
                                    <br />
                                    <br />
                                    </div>
                                    <br />
                                    <br />
                                    </div>
                                </div>
                            </div>
                            <br />
                            @*<br />
                            <div class="row">
                                <div class="panel-group col-xs-pull-0 col-sm-pull-0 col-md-4" id="accordion">
                                    <div ng-hide="districttag" class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="uline">
                                                    @Resource.Districts <span class="pull-right"> <i class="arrow down"></i></span>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse1" class="panel-collapse collapse">
                                            <ul class="list-group">
                                                <li class="list-group-item" ng-repeat="Districtitem in DistrictMapping">
                                                    {{Districtitem.DistictName}}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div ng-hide="blocktag" class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="uline">
                                                    @Resource.Blocks <span class="pull-right"> <i class="arrow down"></i></span>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse2" class="panel-collapse collapse">
                                            <ul class="list-group">
                                                <li class="list-group-item" ng-repeat="Blockitem in BlockMapping">
                                                    {{Blockitem.BlockName}}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />*@
                            <br />
                            <br />
                        </div>
         </div>
                <br />
                
     </div>
           
      <div class="modal fade" id="ImageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal"><span class="redcolor">  @Resource.Close </span><span class="redcolor"> &times;</span></button>
                                <br />
                                <br />
                                <image src="{{Imageurl}}" alt="" class="fillavailable" style="height:500px"></image>
                            </div>
                        </div>
                    </div>
                </div>

      <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="imageModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-sm modaldialogs" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span class="redcolor">  @Resource.Close </span><span class="redcolor"> &times;</span>
                                    </button>
                                    <br />
                                    <br />
                                    <div class="text-center h4">@Resource.Nodatafound</div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>


@section scripts {
    <script>
    var app = angular.module("viewCropAdvisory", []);
        app.controller("ViewCropAdvisoryController", function ($scope, $http, $sce) {
        $scope.State = [];
        $scope.District = [];
        $scope.Block = [];
        $scope.Crop = [];
        $scope.Category = [];
        $scope.Langauge = [];
        $scope.CropAdvisory = [];
        $scope.CropAdvisoryById = [];
        $scope.CropAdvisoryDetails = {};
        $scope.DistrictMapping = [];
        $scope.BlockMapping = [];
        $scope.CropMapping = [];
        $scope.ImageAttachent = "Image";
        $scope.AudioAttachent = "Audio";
        $scope.Images = [];
        $scope.Audio = [];
        $scope.TotalAdvisory = "";
        $scope.Imageurl = "";
        $scope.AdvisoryDetails = false;
        $scope.CropDetails = false;
        $scope.CAMList = [];
        $scope.CAMById = [];
        $scope.CAMByIdDetails = {};
        $scope.color = 0;
        $scope.cropcolor = 0;
         $scope.GetCAMList = function () {
            $http({
                method: 'POST',
                url: '@Url.Action("GetCAMList", "AGROMET")',
                headers: {
                    'Content-Type': "Application/Json"
                },
                data: { ScientistId: @TypeOfRole, LanguageName: "@LanguageName"}
                }).then(function (response) {
                    $scope.CAMList = response.data;
                    if ($scope.CAMList.length > 0) {
                        $scope.GetCAMById($scope.CAMList[0].CAMID);
                        $scope.AdvisoryDetails = true;
                    }
                    else {
                        $scope.AdvisoryDetails = false;
                        $('#errorModal').modal();
                    }
                },
                function (response) {
                    $('#errorModal').modal();
                });
        }
        $scope.GetCropAdvisory = function () {
            $http({
                method: 'POST',
                url: '@Url.Action("GetCropAdvisoryList", "AGROMET")',
                headers: {
                    'Content-Type': "Application/Json"
                },
                data: { ScientistId: @TypeOfRole, LanguageName: "@LanguageName"}
                }).then(function (response) {
                    $scope.CropAdvisory = response.data;
                    $scope.TotalAdvisory = $scope.CropAdvisory.length;
                    if ($scope.CropAdvisory.length > 0) {
                        $scope.GetCropAdvisoryById($scope.CropAdvisory[0].CropAdvisoryID);
                        $scope.GetDistrictMapping($scope.CropAdvisory[0].CropAdvisoryID);
                        $scope.GetBlockMapping($scope.CropAdvisory[0].CropAdvisoryID);
                        $scope.GetCropMapping($scope.CropAdvisory[0].CropAdvisoryID);
                        $scope.GetAttachmentMapping($scope.CropAdvisory[0].CropAdvisoryID, $scope.ImageAttachent);
                        $scope.GetAttachmentMapping($scope.CropAdvisory[0].CropAdvisoryID, $scope.AudioAttachent);
                        $scope.AdvisoryDetails = true;
                     
                    }
                    else {
                        $scope.AdvisoryDetails = false;
                        $('#errorModal').modal();
                    }
                },
                function (response) {
                    $('#errorModal').modal();
                });
        }
        $scope.GetCropAdvisoryByCAM = function (CAMID) {
            $http({
                method: 'POST',
                url: '@Url.Action("GetCropAdvOfCAMList", "AGROMET")',
                headers: {
                    'Content-Type': "Application/Json"
                },
                data: { CAMID: CAMID, LanguageName: "@LanguageName"}
                }).then(function (response) {
                    $scope.CropAdvisory = response.data;
                    $scope.TotalAdvisory = $scope.CropAdvisory.length;
                    if ($scope.CropAdvisory.length > 0) {
                        $scope.GetCropAdvisoryById($scope.CropAdvisory[0].CropAdvisoryID);
                        $scope.GetDistrictMapping($scope.CropAdvisory[0].CropAdvisoryID);
                        $scope.GetBlockMapping($scope.CropAdvisory[0].CropAdvisoryID);
                        $scope.GetAttachmentMapping($scope.CropAdvisory[0].CropAdvisoryID, $scope.ImageAttachent);
                        $scope.GetAttachmentMapping($scope.CropAdvisory[0].CropAdvisoryID, $scope.AudioAttachent);
                        $scope.CropDetails = true;
                     
                    }
                    else {
                        $scope.CropDetails = false;
                        
                    }
                },
                function (response) {
                    $('#errorModal').modal();
                });
        }
        $scope.SearchCAMList = function (DistrictID, BlockID, CropID) {
            $http({
                method: 'POST',
                url: '@Url.Action("SearchCAMList", "AGROMET")',
                headers: {
                    'Content-Type': "Application/Json"
                },
                data: { ScientistId: @TypeOfRole, DistrictID: DistrictID, BlockID: BlockID, CropID: CropID, LanguageName: "@LanguageName"}
                }).then(function (response) {
                    $scope.CAMList = response.data;
                    if ($scope.CAMList.length > 0) {
                        $scope.GetCAMById($scope.CAMList[0].CAMID);
                        $scope.AdvisoryDetails = true;
                    }
                    else {
                        $scope.AdvisoryDetails = false;
                        $('#errorModal').modal();
                    }
                },
                function (response) {
                    $('#errorModal').modal();
                });
        }
        $scope.SearchCropAdvisory = function (CategoryID,DistrictID,BlockID,CropID) {
            $http({
                method: 'POST',
                url: '@Url.Action("SearchCropAdvisoryList", "AGROMET")',
                headers: {
                    'Content-Type': "Application/Json"
                },
                data: { ScientistId: @TypeOfRole, CategoryID: CategoryID, DistrictID:DistrictID, BlockID : BlockID, CropID : CropID, LanguageName: "@LanguageName"}
                }).then(function (response) {
                    $scope.CropAdvisory = response.data;
                    $scope.TotalAdvisory = $scope.CropAdvisory.length;
                    if ($scope.CropAdvisory.length > 0) {
                        $scope.GetCropAdvisoryById($scope.CropAdvisory[0].CropAdvisoryID);
                        $scope.GetDistrictMapping($scope.CropAdvisory[0].CropAdvisoryID);
                        $scope.GetBlockMapping($scope.CropAdvisory[0].CropAdvisoryID);
                        $scope.GetCropMapping($scope.CropAdvisory[0].CropAdvisoryID);
                        $scope.GetAttachmentMapping($scope.CropAdvisory[0].CropAdvisoryID, $scope.ImageAttachent);
                        $scope.GetAttachmentMapping($scope.CropAdvisory[0].CropAdvisoryID, $scope.AudioAttachent);
                        $scope.AdvisoryDetails = true;
                    }
                    else {
                        $scope.AdvisoryDetails = false;
                        $('#errorModal').modal();
                    }
                },
                function (response) {
                    $('#errorModal').modal();
                });
        }
        $scope.GetCropAdvisoryById = function (CropAdvisoryID) {
            $http({
                method: 'POST',
                url: '@Url.Action("GetCropAdvisoryById", "AGROMET")',
                headers: {
                    'Content-Type': "Application/Json"
                },
                data: { CropAdvisoryID: CropAdvisoryID, LanguageName: "@LanguageName" }
                }).then(function (response) {
                    $scope.CropAdvisoryById = response.data;
                    $scope.CropAdvisoryDetails = $scope.CropAdvisoryById[0];
                    $scope.cropcolor = CropAdvisoryID;
                },
                function (response) {
                    alert("No result found");
                });
        }
        $scope.trustSrc = function (src) {
            return $sce.trustAsResourceUrl(src);
        }
        $scope.GetCAMById = function (CAMID) {
            $http({
                method: 'POST',
                url: '@Url.Action("GetCAMById", "AGROMET")',
                headers: {
                    'Content-Type': "Application/Json"
                },
                data: { CAMID: CAMID, LanguageName: "@LanguageName" }
                }).then(function (response) {
                    $scope.CAMById = response.data;
                    $scope.CAMByIdDetails = $scope.CAMById[0];
                    $scope.GetWeather($scope.CAMByIdDetails.CreatedDate);
                    $scope.GetCropAdvisoryByCAM(CAMID);
                    $scope.color = CAMID;
                },
                function (response) {
                    alert("No result found");
                });
        }
        $scope.GetDistrictMapping = function (CropAdvisoryID) {
            $http({
                method: 'POST',
                url: '@Url.Action("GetCropAdvisoryDistrictMapping", "AGROMET")',
                headers: {
                    'Content-Type': "Application/Json"
                },
                data: { CropAdvisoryID: CropAdvisoryID, LanguageName: "@LanguageName"}
                }).then(function (response) {
                    $scope.DistrictMapping = response.data;
                    if (response.data.length == 0) {
                        $scope.districttag = true;
                    }
                    else {
                        $scope.districttag = false;
                    }
                },
                function (response) {
                    alert("No result found");
                });
        }
        $scope.GetBlockMapping = function (CropAdvisoryID) {
            $http({
                method: 'POST',
                url: '@Url.Action("GetCropAdvisoryBlockMapping", "AGROMET")',
                headers: {
                    'Content-Type': "Application/Json"
                },
                data: { CropAdvisoryID: CropAdvisoryID, LanguageName: "@LanguageName"}
                }).then(function (response) {
                    $scope.BlockMapping = response.data;
                    if (response.data.length == 0) {
                        $scope.blocktag = true;
                    }
                    else {
                        $scope.blocktag = false;
                    }
                },
                function (response) {
                    alert("No result found");
                });
        }
        $scope.GetCropMapping = function (CropAdvisoryID) {
            $http({
                method: 'POST',
                url: '@Url.Action("GetCropAdvisoryCropMapping", "AGROMET")',
                headers: {
                    'Content-Type': "Application/Json"
                },
                data: { CropAdvisoryID: CropAdvisoryID, LanguageName: "@LanguageName"}
                }).then(function (response) {
                    $scope.CropMapping = response.data;
                    if (response.data.length == 0) {
                        $scope.croptag = true;
                    }
                    else {
                        $scope.croptag = false;
                    }
                },
                function (response) {
                    alert("No result found");
                });
        }   
        $scope.GetAttachmentMapping = function (CropAdvisoryID,Type) {
            $http({
                method: 'POST',
                url: '@Url.Action("GetCropAdvisoryAttachmentMapping", "AGROMET")',
                headers: {
                    'Content-Type': "Application/Json"
                },
                data: { CropAdvisoryID: CropAdvisoryID, LanguageName: "@LanguageName", Type: Type }
            }).then(function (response) {
                if (Type == "Image")
                {
                    $scope.Images = response.data;
                    if (response.data.length == 0) {
                        $scope.imagetag = true;
                    }
                    else {
                        $scope.imagetag = false;
                    }
                }
                if (Type == "Audio")
                {
                    $scope.Audio = response.data;
                    if (response.data.length == 0) {
                        $scope.audiotag = true;
                    }
                    else {
                        $scope.audiotag = false;
                    }
                }  
                },
                function (response) {
                    alert("No result found");
                });
            //$('#AdvisoryModal').modal();
            $scope.AdvisoryDetails = true;
        }
        $scope.GetState = function (TypeOfRole,StateID) {
            $http({
                method: 'POST',
                url: '@Url.Action("GetStateList", "AGROMET")',
                headers: {
                    'Content-Type': "Application/Json"
                },
                data: { TypeOfRole: TypeOfRole, LanguageName: "@LanguageName", StateID: StateID }
                }).then(function (response) {
                    $scope.State = response.data;
                    //var item = { StateID: 0, StateName: "@Select", LanguageType: null, RefreshDateTime: "" }
                    //$scope.State.splice(0, 0, item);
                    $scope.SelectedState = $scope.State[0];
                },
                function (response) {
                    alert("No result found");
                });
        }
        $scope.GetDistrict = function (StateID) {
            $http({
                method: 'POST',
                url: '@Url.Action("GetDistrictList", "AGROMET")',
                headers: {
                    'Content-Type': "Application/Json"
                },
                data: { TypeOfRole: @TypeOfRole, LanguageName: "@LanguageName", StateID: StateID }
                }).then(function (response) {
                    $scope.District = response.data;
                     var item = { DistrictID: 0, DistrictName: "@Select", LanguageType: null, RefreshDateTime: "" }
                    $scope.District.splice(0, 0, item);
                    $scope.SelectedDistrict = $scope.District[0];
                },
                function (response) {
                    alert("No result found");
                });
        }
        $scope.GetBlock = function (DistrictID) {
            $http({
                method: 'POST',
                url: '@Url.Action("GetBlockList", "AGROMET")',
                headers: {
                    'Content-Type': "Application/Json"
                },
                data: { TypeOfRole: @TypeOfRole, LanguageName: "@LanguageName", DistrictID: DistrictID }
                }).then(function (response) {
                    $scope.Block = response.data;
                    var item = { BlockID: 0, BlockName: "@Select", LanguageType: null, RefreshDateTime: "" }
                    $scope.Block.splice(0, 0, item);
                    $scope.SelectedBlock = $scope.Block[0];
                },
                function (response) {
                    alert("No result found");
             });
        }
        $scope.GetBlockById = function () {
            $http({
                method: 'POST',
                url: '@Url.Action("GetBlockList", "AGROMET")',
                headers: {
                    'Content-Type': "Application/Json"
                },
                data: { TypeOfRole: @TypeOfRole, LanguageName: "@LanguageName", DistrictID: this.DistrictID }
                }).then(function (response) {
                $scope.Block = response.data;

                },
                function (response) {
                    alert("No result found");
             });
        }
        $scope.GetCrop = function () {
            $http({
                method: 'POST',
                url: '@Url.Action("GetCropList", "AGROMET")',
                headers: {
                    'Content-Type': "Application/Json"
                },
                data: { TypeOfRole: @TypeOfRole, LanguageName: "@LanguageName" }
                }).then(function (response) {
                    $scope.Crop = response.data;
                    var item = { CropID: 0, CropName: "@Select", LanguageType: null, RefreshDateTime: "" }
                    $scope.Crop.splice(0, 0, item);
                    $scope.SelectedCrop = $scope.Crop[0];
                },
                function (response) {
                    alert("No result found");
                });
        }
        $scope.GetCategory = function () {
            $http({
                method: 'POST',
                url: '@Url.Action("GetCategoryList", "AGROMET")',
                headers: {
                    'Content-Type': "Application/Json"
                },
                data: { TypeOfRole: @TypeOfRole, LanguageName: "@LanguageName" }
                }).then(function (response) {
                    $scope.Category = response.data;
                    var item = { CACID: 0, CropAdvisoryCategory: "@Select", LanguageType: null, RefreshDateTime: "" }
                    $scope.Category.splice(0, 0, item);
                    $scope.SelectedCategory = $scope.Category[0];
                },
                function (response) {
                    alert("No result found");
                });
        }
         $scope.GetWeather = function (date) {
        $scope.msg = false;

            $http({
                method: 'POST',
                url: '@Url.Action("GetWeatherList", "AGROMET")',
                headers: {
                    'Content-Type': "Application/Json"
                },
                data: { StateID: @StateID, DistrictID: @DistrictID, BlockID: @BlockID , LanguageType: "@LanguageName", WeatherDate: date }
            }).then(function (response) {
                $scope.Weather = response.data;
                if ($scope.Weather.length == 0) {
                    $scope.NextFour = [];
                    $scope.current = [];
                    $scope.msg = true;
                    $scope.weathertag = true;
                }
                else {
                    $scope.current = $scope.Weather[0];
                    $scope.NextFour = [];
                    if ($scope.CAMByIdDetails.D1) {
                        $scope.NextFour.push($scope.Weather[0]);
                        if ($scope.CAMByIdDetails.D2) {
                            $scope.NextFour.push($scope.Weather[1]);
                            if ($scope.CAMByIdDetails.D3) {
                                $scope.NextFour.push($scope.Weather[2]);
                                if ($scope.CAMByIdDetails.D4) {
                                    $scope.NextFour.push($scope.Weather[3]);
                                    if ($scope.CAMByIdDetails.D5) {
                                        $scope.NextFour.push($scope.Weather[4]);
                                    }
                                }
                            }
                        }
                    }
                  
                   
                    $scope.msg = false;
                    $scope.weathertag = false;
                }
            },
            function (response) {
                $scope.msg = true;
                $scope.weathertag = true;
            });
            }
        $scope.ViewImage = function (ImagePath) {
            $scope.Imageurl = ImagePath;
            $('#ImageModal').modal();
        }
        $scope.ResetSearchddl = function () {
            $scope.SelectedCategory = $scope.Category[0];
            $scope.SelectedDistrict = $scope.District[0];
            $scope.SelectedBlock = $scope.Block[0];
            $scope.SelectedCrop = $scope.Crop[0];
            $scope.GetCAMList();
        }
    });
    </script>
}